set bell-style none


set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

set editing-mode vi
set keymap vi-command


set show-all-if-ambiguous on
set completion-ignore-case on
set mark-symlinked-directories on

set enable-keypad off

"\e[1;5A": history-search-backward
"\e[1;5B": history-search-forward
